.download
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 30px 30px 22px 30px
  border: 1px solid $borderGrey

  &__descr
    display: flex
    justify-content: center
    align-items: center
    margin-top: 13px

    span
      margin-left: 8px