.program
  //padding: 12px 0
  display: flex

  &__el
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 11px
    color: $textBlack
    font-size: 16px

  &__left
    margin-left: 20px
    margin-right: 60px
    display: flex
    align-items: center

    img
      width: 64px

  &__img
    margin-right: 14px
    width: 28px

  &__link
    display: inline-block
    color: $textBlueDark