.solution
  width: 100%
  padding: 27px
  margin-bottom: 43px
  border: 1px solid $borderGrey
  +r(768)
    text-align: center

  &__top
    margin-bottom: 20px
    display: flex
    justify-content: space-between
    +r(768)
      justify-content: center

  &__right
    text-align: center

  &__left
    margin-right: 28px
    +r(768)
      margin-right: 0

  &__descr
    margin-bottom: 5px
    font-size: 12px
    color: #90959a

    &:last-child
      margin-bottom: 0

      +r(768)
        display: none

  &__counter

    span
      line-height: 1

      &:first-child
        font-size: 40px

      &:last-child
        font-size: 26px
        +h300

    +r(768)
      display: none

  img
    display: inline-block
    margin-left: 10px
